<%-include('components/header.ejs')%>
<div class="container">
    <form class="registerForm"  method="post" action="/auth/register">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstName">
        </div>
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastName">
        </div>
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" aria-describedby="emailHelp" name="email">
        </div>
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<%-include('components/footer.ejs')%>