<%-include('components/header.ejs')%>

<div class="container mt-5">
    <h3>Number: <span style="color:rgb(78, 78, 78)"><%=salle.nom%></span></h3>
    <h3>Capacity: <span style="color:rgb(78, 78, 78)""><%=salle.capacity%></span></h3>
    <h3>reservation details:</h3>
    <div class="dayofweek">
        <h5>monday</h5>
        <h5>tuesday</h5>
        <h5>wednesday</h5>
        <h5>thursday</h5>
        <h5>friday</h5>
    </div>
    <div class="hourofday">
        <div class="hourofdaycontent">
            <button disabled>8am -> 9am</button>
            <h6>9am -> 10am</h6>
            <h6>10am -> 11am</h6>
            <h6>11am -> 12pm</h6>
            <h6>12pm -> 13pm</h6>
            <h6>13pm -> 14pm</h6>
            <h6>14pm -> 15pm</h6>
            <h6>15pm -> 16pm</h6>
            <h6>16pm -> 17pm</h6>
            
        </div>
        <div class="hourofdaycontent">
            <h6>8am -> 9am</h6>
            <h6>9am -> 10am</h6>
            <h6>10am -> 11am</h6>
            <h6>11am -> 12pm</h6>
            <h6>12pm -> 13pm</h6>
            <h6>13pm -> 14pm</h6>
            <h6>14pm -> 15pm</h6>
            <h6>15pm -> 16pm</h6>
            <h6>16pm -> 17pm</h6>
            
        </div>
        <div class="hourofdaycontent">
            <h6>8:00</h6>
            <h6>9:00</h6>
            <h6>10:00</h6>
            <h6>11:00</h6>
            <h6>12:00</h6>
            <h6>13:00</h6>
            <h6>14:00</h6>
            <h6>15:00</h6>
            <h6>16:00</h6>
            <h6>17:00</h6>
        </div>
        <div class="hourofdaycontent">
            <h6>8:00</h6>
            <h6>9:00</h6>
            <h6>10:00</h6>
            <h6>11:00</h6>
            <h6>12:00</h6>
            <h6>13:00</h6>
            <h6>14:00</h6>
            <h6>15:00</h6>
            <h6>16:00</h6>
            <h6>17:00</h6>
        </div>
        <div class="hourofdaycontent">
            <h6>8:00</h6>
            <h6>9:00</h6>
            <h6>10:00</h6>
            <h6>11:00</h6>
            <h6>12:00</h6>
            <h6>13:00</h6>
            <h6>14:00</h6>
            <h6>15:00</h6>
            <h6>16:00</h6>
            <h6>17:00</h6>
        </div>
    </div>
    
    
</div>

<%-include('components/footer.ejs')%>
